body {
    font-family: Montserrat, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    margin-bottom: 10px;
}

h2 {
    font-weight: 200;
    margin-top: 10px;
}

.container {
    position: relative;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    text-align: center;
}
.circle {
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}
.circle1 {
    height: 500px;
    width: 500px;
    background-color: #009FE3;
}

.circle2 {
    height: 400px;
    width: 400px;
    background-color: #445261;
    top: 50px;
    left: 50px;
}
.circle3 {
    height: 300px;
    width: 300px;
    background-color: #EFB920;
    top: 100px;
    left: 100px;
}
.circle4 {
    height: 200px;
    width: 200px;
    background-color: #23BBBB;
    top: 150px;
    left: 150px;
}

.scorebox {
    border-radius: 25%;
    box-sizing: border-box;
    position: absolute;
    background-color: #E6ECF0;
    height: 80px;
    width: 80px;
    top: 210px;
    left: 210px;
    text-align: center;
    color: #445261;
    font-size: 3em;
    padding-top: 10px;
}

.button {
    background-color: #FF5A60;
    color: #FFF;
    border: 0;
    height: 40px;
    width: 160px;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    top: 550px;
    position: relative;
    font-weight: 600;
}

.light {
    background-color: #990000;
}

@media only screen and (max-width: 499px) {
    .container {
        width: 400px;
    }
    .circle1 {
        height: 400px;
        width: 400px;
    }
    
    .circle2 {
        height: 320px;
        width: 320px;
        top: 40px;
        left: 40px;
    }
    .circle3 {
        height: 240px;
        width: 240px;
        top: 80px;
        left: 80px;
    }
    .circle4 {
        height: 160px;
        width: 160px;
        top: 120px;
        left: 120px;
    }
    
    .scorebox {
        height: 64px;
        width: 64px;
        top: 168px;
        left: 168px;
        font-size: 2.4em;
        padding-top: 8px;
    }

    .button {
        top: 440px
    }

}

@media only screen and (max-width: 399px) {
    .container {
        width: 360px;
    }

    .circle1 {
        height: 360px;
        width: 360px;
    }
    
    .circle2 {
        height: 270px;
        width: 270px;
        top: 45px;
        left: 45px;
    }
    .circle3 {
        height: 180px;
        width: 180px;
        top: 90px;
        left: 90px;
    }
    .circle4 {
        height: 90px;
        width: 90px;
        top: 135px;
        left: 135px;
    }

    .scorebox {
        height: 36px;
        width: 36px;
        top: 162px;
        left: 162px;
        font-size: 1.5em;
        padding-top: 3px;
    }

    .button {
        top: 396px
    }


    
}

@media only screen and (max-width: 360px) {
    .container {
        width: 300px;
    }
    .circle1 {
        height: 300px;
        width: 300px;
        background-color: #009FE3;
    }
    
    .circle2 {
        height: 240px;
        width: 240px;
        top: 30px;
        left: 30px;
    }
    .circle3 {
        height: 180px;
        width: 180px;
        background-color: #EFB920;
        top: 60px;
        left: 60px;
    }
    .circle4 {
        height: 120px;
        width: 120px;
        background-color: #23BBBB;
        top: 90px;
        left: 90px;
    }
    
    .scorebox {
        height: 48px;
        width: 48px;
        top: 126px;
        left: 126px;
        font-size: 1.5em;
        padding-top: 8px;
    }

    .button {
        top: 330px
    }
}